@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
		margin: 0;
	}
	a[class] {
		text-decoration-line: none;
		color: inherit;
		text-decoration-thickness: 0.5px;
		text-underline-offset: 3px;
	}
	a[class]:hover {
		text-decoration-line: revert;
	}
}
