@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
		margin: 0;
	}
	a[class] {
		text-decoration-line: none;
		color: inherit;
		text-decoration-thickness: 0.5px;
		text-underline-offset: 3px;
	}
	a[class]:hover {
		text-decoration-line: revert;
	}
}

@layer utilities {
	.font-sans {
		font-family: "Recursive", system-ui, sans-serif;
	}
	.font-display {
		font-family: "Recursive", system-ui, sans-serif;
		font-variation-settings: "CASL" 1, "CRSV" 1;
	}
	.font-serif {
		font-family: "Recursive", ui-serif, Georgia, serif;
		font-variation-settings: "CRSV" 1;
	}
	.font-mono {
		font-family: "Recursive", ui-monospace, monospace;
		font-variation-settings: "MONO" 1;
	}
}

@layer components {
	.Content {
		> * + * {
			margin-block-start: var(--s, theme(space.6));
		}

		& > :is(h2, h3, h4, h5, h6) + * {
			--s: theme(space.2);
		}

		& code {
			@apply font-mono;
		}

		& :is(ul, ol) {
			padding-inline-start: 20px;
		}

		& li::marker {
			color: theme(colors[gray].400);
			font-weight: 300;
		}

		& pre {
			font-size: theme(fontSize[sm]);
			line-height: 1.4;
			overflow: auto;
			scrollbar-width: thin;
		}
	}
}
